* {
    margin: 0;
    padding: 0;
}


#title {
    text-align: center;
    padding: 15px;
}

#tribute-info {
    text-align: center;
}

#image {
   max-width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;
}

#img-div {
    width: 100%;
    background: white;
    margin-top: 20px;
    margin: -5px;
    border: 5px solid white;
}

#img-caption {
    text-align: center;
    padding: 15px;
}

#tribute-info {
    margin-top: 25px;
}

#main {
    border: 0px solid;
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
    background: #eee;
}

ul {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

li {
    margin: 10px;
}