* {
    margin: 0;
    padding: 0;
}


#title {
    text-align: center;
}

#tribute-info {
    text-align: center;
}

#image {
   max-width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;
}